<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>edit page</title>

    <style>
        h1 {
            font-size: 18pt;
            font-weight: bold;
            color: gray;
        }
        body {
            font-size: 13pt;
            color: gray;
            margin: 5px 25px;
        }
        tr {
            margin:5px;
        }
        th{
            padding: 5px;
            color: white;
            background: gray;
        }
        td {
            padding: 5px;
            color: black;
            background:#e0e0ff;
        }
    </style>
</head>
<body>
    <h1 th:text="${title}">Edit Page</h1>
    <table>
        <form method="post" action="/edit" th:object="${formModel2}">
            <input type="hidden" name="id" th:value="*{id}" />
            <tr>
                <td>
                   <label for="name">이름</label>
                </td>
                <td>
                    <input type="text" name="name" th:value="*{name}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="age">연령</label>
                </td>
                <td>
                    <input type="text" name="age" th:value="*{age}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="mail">메일</label>
                </td>
                <td>
                    <input type="text" name="mail" th:value="*{mail}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="memo">메모</label>
                </td>
                <td>
                    <input type="text" name="memo" th:value="*{memo}" />
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <input type="submit" />
                </td>
            </tr>
        </form>
    </table>
</body>
</html>